[sources.asterisk_local_logs]
type = "file"
include = ["/var/log/asterisk/full"]
ignore_older = 86400  # optional, ignore files older than 1 day
start_at_beginning = false  # true = read from start, false = only new lines

[sinks.cloki_asterisk_local]
type = "loki"
inputs = ["asterisk_local_logs"]
endpoint = "http://qryn:3100"
compression = "none"

[sinks.cloki_asterisk_local.labels]
forwarder = "vector"
type = "asterisk_local"

[sinks.cloki_asterisk_local.encoding]
codec = "json"


[sources.asterisk_remote_syslog]
type = "syslog"
address = "0.0.0.0:514"
mode = "udp"

[sinks.cloki_asterisk_remote]
type = "loki"
inputs = ["asterisk_remote_syslog"]
endpoint = "http://qryn:3100"
compression = "none"

[sinks.cloki_asterisk_remote.labels]
forwarder = "vector"
type = "asterisk_remote"

[sinks.cloki_asterisk_remote.encoding]
codec = "json"


[sources.homer_scrape]
type = "prometheus_scrape"
endpoints = [ "http://heplify-server:9096/metrics" ]
scrape_interval_secs = 10
instance_tag = "heplify"
endpoint_tag = "homer"

[sources.system_scrape]
type = "prometheus_scrape"
endpoints = [ "http://node-exporter:9100/metrics" ]
scrape_interval_secs = 10
instance_tag = "system"
endpoint_tag = "homer"

[sinks.prom_write]
type = "prometheus_remote_write"
inputs = [ "homer_scrape", "system_scrape" ]
endpoint = "http://qryn:3100/prom/remote/write"
